* {
    padding: 1px;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}
body{
	background-color: #333;
}
.title h2{
    color: green;
    font-size: 75px;
    text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}
nav a{
    padding: 1px 20px;
    margin-right: 10px;
    margin-top: 1px;
    color: rgb(255,255,255);
    font-size: 20px;
    border: solid 2px green;
    border-radius: 30px;
    transition: .4s;

}
nav a{
    color: green;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}
nav a:hover{
    color: black;
    transition: .4s;
}

h1{
    color: green;
    font-size: 23px;
    margin-bottom: 15px;
	text-align: center;
}
h3{
    color: rgb(14, 49, 22);;
    font-size: 23px;
    margin-bottom: 15px;
	text-align: center;
}
h4{
	color: green;
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 15px;
}
h5{
    color: green;
    font-size: 23px;
    margin-bottom: 15px;
	text-align: center;
}
.forda p{
    color: darkolivegreen;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
}
.second{
    width: 100%;
}
.second img{
    height: auto;
    width: 250px;
	border-radius: 250px;
	position: center;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.skills square{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.square img{
	height: auto;
	width: 100px;
	border-radius: 50px;
}
.cards{
    height: 465px;
    width: 500px;
    padding: 20px 35px;
    background: lightgrey;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.cards i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: darkslategray;
}
p{ /*style the p tag*/
    color:rgb(80, 134, 84)
	
}
.skills{ /*style the text*/
	width: 500px;
	margin: 60px auto;
	color: rgb(255, 255, 255);
}

.skills p{ /*set margin of p*/
	margin: 20px 0;
}

.bar{ /*style the bar*/
	background-color: #353b48;
	display: block;
	height: 2px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #2187e7b3;
}

.bar span{ /*style the span tag*/
	height: 2px;
	float: left;
	background-color: #2187e7;
}

.htmlk{ /*set skills and animation of html*/
	width: 70%;
	animation: html 2s;
}

.cssk{ /*set skills and animation of css*/
	width: 90%;
	animation: css 2s;
}

.javascriptk{ /*set skills and animation of javascript*/
	width: 70%;
	animation: javascript 2s;
}

.jqueryk{ /*set skills and animation of jquery*/
	width: 60%;
	animation: jquery 2s;
}
.htmld{ /*set skills and animation of html*/
	width: 90%;
	animation: html 2s;
}

.cssd{ /*set skills and animation of css*/
	width: 98%;
	animation: css 2s;
}

.javascriptd{ /*set skills and animation of javascript*/
	width: 80%;
	animation: javascript 2s;
}

.jqueryd{ /*set skills and animation of jquery*/
	width: 70%;
	animation: jquery 2s;
}
@keyframes html{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}

@keyframes css{ /*animate css skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 93%;
	}
}

@keyframes javascript{ /*animate javascript skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}

@keyframes jquery{ /*animate jquery skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 30%;
	}
}