* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
span{
    color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}
a{
    padding: 1px 20px;
    margin-right: 10px;
    margin-top: 1px;
    color: rgb(255,255,255);
    font-size: 20px;
    border: solid 2px green;
    border-radius: 30px;
    transition: .4s;
    color: green;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
a:hover{
    color: black;
    transition: .4s;
}
.content{
    position: absolute;
    top: 30%;
    left: 8%;
    transform: translateY(50%);
}

.second{
    width: 100%;
    padding: 100px;
}
.second-text a{
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.second-text a:hover{
    background-color: white;
    border: 2px solid lightgreen;
    cursor: pointer;
}
.second img{
    margin-top: 10px;
    height: auto;
    width: 350px;
}
.second-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.second-text h2{
    color: green;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.second-text h5{
    color: green;
    letter-spacing: 2px;
    line-height: 22px;
    margin-bottom: 25px;
    font-size: 20px;
    text-transform: capitalize;
}
.second-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.third{
    padding: 100px 0px;
    background-position: center;
}
.title h2{
    color: green;
    font-size: 75px;
    margin-top: 10px;
    text-align: center;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.square img{
	height: auto;
	width: 100px;
	border-radius: 50px;
}
.cards{
    height: 465px;
    width: 500px;
    padding: 20px 35px;
    background: lightgrey;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.cards i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: darkslategray;
}
h5{
    color: green;
    font-size: 23px;
    margin-bottom: 15px;
}
.forda p{
    color: darkolivegreen;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
}
.cards .button{
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 10px;
    border-radius: 30px;
    transition: .4s;
}
.cards .button:hover{
    background-color: lightgray;
    border: 2px solid lightgreen;
    cursor: pointer;
}